
.pr_bg_random_color {
    background: linear-gradient(to right,
    #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    background-size: 1200% 100%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.pr_border_solid {
    border-style: solid;
    border-color: #00ff35;
}

.pr_text_green {
    color: #40bd5a;
}

.pr_center {
    position: relative;
    transform: translate(50%, 25%);
}

.panel-body {
    overflow-y: scroll;
    height: 500px;
}

.media-list .media {
    margin-top: 30px;
    border-bottom: 1px dotted #eee;
    padding-bottom: 10px;
}

.media-list .media {
    border: none;
}

.media .pull-left {
    margin-right: 15px;
}

.media .pull-right {
    margin-left: 15px;
}
.submit {
    width: 184px;
}

#password-strength-bar {
    height: 20px;
    transition: width 0.2s ease-in-out;
    overflow: hidden;
    max-width: 100%;
}

#password-strength-labels {
    display: flex;
    justify-content: space-between;
}

#password-strength-container {
    position: relative;
}

#password-strength-labels li {
    flex-grow: 1;
    text-align: center;
}
