    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Winthihome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/ch_bbw_km.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $("#includedHeader").load("fragments/header.html");
                $("#includedFooter").load("fragments/footer.html");
            });

            function updatePasswordStrengthBar() {
                var password = $('#form_password').val();
                var strength = calculatePasswordStrength(password);
                var progressBar = $('#password-strength-bar');
                progressBar.removeClass();
                if (strength === 0) {
                    $('#password-strength-labels').text('');
                    return;
                }
                if (strength < 3) {
                    progressBar.addClass('progress-bar bg-danger');
                    $('#password-strength-labels').text('Weak');
                } else if (strength < 4) {
                    progressBar.addClass('progress-bar bg-warning');
                    $('#password-strength-labels').text('Moderate');
                } else {
                    progressBar.addClass('progress-bar bg-success');
                    $('#password-strength-labels').text('Strong');
                }
                progressBar.width(strength * 25 + '%');
            }

            $(document).ready(function () {
                $('#form_password').on('input', updatePasswordStrengthBar);
            });

            function calculatePasswordStrength(password) {
                var strength = 0;
                if (password.length >= 12) {
                    strength++;
                }
                if (/[a-z]/.test(password)) {
                    strength++;
                }
                if (/[A-Z]/.test(password)) {
                    strength++;
                }
                if (/[0-9]/.test(password)) {
                    strength++;
                }
                if (/[\W_]/.test(password)) {
                    strength++;
                }
                return strength;
            }

        </script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <body>
    <div id="includedHeader"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <h4 style="margin-top: 30px">Register</h4>
                        <div class="row">
                            <div class=" col-lg-8 col-lg-offset-2">
                                <form id="register-form" method="post" action="" role="form" th:action="@{/get-register}"
                                      th:object="${registerMember}">
                                    <div class="messages"></div>
                                    <div class="controls">
                                        <div class="row flex-nowrap">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_name">Firstname *</label>
                                                    <input id="form_name" type="text" name="name" class="form-control"
                                                           placeholder="Please enter your firstname" required="required"
                                                           data-error="Firstname is required." th:field="*{prename}">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_lastname">Lastname *</label>
                                                    <input id="form_lastname" type="text" name="surname"
                                                           class="form-control" placeholder="Please enter your lastname"
                                                           required="required" data-error="Lastname is required."
                                                           th:field="*{lastname}">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_challenge">Favourite Teacher *</label>
                                                    <input id="form_lastname" type="text" name="challenge"
                                                           class="form-control"
                                                           placeholder="Please enter your favourite teacher"
                                                           required="required"
                                                           data-error="Challenge is required."
                                                           th:field="*{challenge}">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_password">Password *</label> <input id="form_password"
                                                                                                         type="password"
                                                                                                         name="password"
                                                                                                         class="form-control"
                                                                                                         placeholder="Please enter your password"
                                                                                                         required="required"
                                                                                                         data-error="Valid password is required."
                                                                                                         th:field="*{password}">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="form_confirmation">Passwort
                                                        confirmation *</label> <input id="form_confirmation" type="password"
                                                                                      name="confirmation"
                                                                                      class="form-control"
                                                                                      placeholder="Please enter your password"
                                                                                      required="required"
                                                                                      data-error="Valid confirmation is required."
                                                                                      th:field="*{confirmation}">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div id="password-strength-container">
                                                        <div id="password-strength-bar"></div>
                                                    </div>
                                                    <div id="password-strength-labels"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-success btn-send" value="Register">
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <div th:if="${#fields.hasErrors('prename')}" th:errors="*{prename}">Invalid
                                                    prename
                                                </div>
                                                <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
                                                    Invalid lastname
                                                </div>
                                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                                    Invalid lastname
                                                </div>
                                                <div th:if="${#fields.hasErrors('confirmation')}"
                                                     th:errors="*{confirmation}">Invalid lastname
                                                </div>
                                                <div th:if="${#fields.hasErrors('challenge')}" th:errors="*{challenge}">
                                                    Invalid Answer
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="g-recaptcha col-sm-5"
                                             th:attr="data-sitekey=${@reCaptchaSettings.getSite()}">
                                        </div>
                                        <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height: 200px"></div>
                </div>
            </div>
        </div>
    </section>

    <div id="includedFooter" class="fixed-bottom"></div>
    </body>

    </html>
