<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SoSpri-the-page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pr_bbw.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $("#includedHeader").load("fragments/header.html");
            $("#includedFooter").load("fragments/footer.html");
        });
    </script>
</head>

<body>
<div id="includedHeader"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <h4 style="margin-top: 30px">Reset Password</h4>
                    <div class="row">
                        <div class=" col-lg-8 col-lg-offset-2">
                            <form id="login-form" method="post" action="" role="form" th:action="@{/request-password-reset}"  th:object="${resetMember}">
                                <div class="messages"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="username">Username *</label>
                                            <input type="text" id="username" name="username" class="form-control" placeholder="Please enter your username" required="required" data-error="username is required."/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="challenge">Who is you favourite teacher? *</label>
                                                <input type="challenge" id="challenge" name="challenge" class="form-control" placeholder="Please answer the question" required="required" data-error="password is required."/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-info btn-send" value="Submit">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid Username or Response</div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div style="height: 200px"></div>
            </div>
        </div>
    </div>
</section>

<div id="includedFooter" class="fixed-bottom"></div>
</body>

</html>
