<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Winthihome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ch_bbw_km.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $("#includedHeader").load("fragments/header.html");
            $("#includedFooter").load("fragments/footer.html");
        });

        function updatePasswordStrengthBar() {
            var password = $('#form_password').val();
            var strength = calculatePasswordStrength(password);
            var progressBar = $('#password-strength-bar');
            progressBar.removeClass();
            if(strength === 0) {
                $('#password-strength-labels').text('');
                return;
            }
            if (strength < 3) {
                progressBar.addClass('progress-bar bg-danger');
                $('#password-strength-labels').text('Weak');
            } else if (strength < 4) {
                progressBar.addClass('progress-bar bg-warning');
                $('#password-strength-labels').text('Moderate');
            } else {
                progressBar.addClass('progress-bar bg-success');
                $('#password-strength-labels').text('Strong');
            }
            progressBar.width(strength * 25 + '%');
        }

        $(document).ready(function() {
            $('#form_password').on('input', updatePasswordStrengthBar);
        });

        function calculatePasswordStrength(password) {
            var strength = 0;
            if (password.length >= 12) {
                strength++;
            }
            if (/[a-z]/.test(password)) {
                strength++;
            }
            if (/[A-Z]/.test(password)) {
                strength++;
            }
            if (/[0-9]/.test(password)) {
                strength++;
            }
            if (/[\W_]/.test(password)) {
                strength++;
            }
            return strength;
        }

    </script>
</head>

<body>
<div id="includedHeader"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <h4 style="margin-top: 30px">Enter a new Password</h4>
                    <div class="row">
                        <div class=" col-lg-8 col-lg-offset-2">
                            <form id="login-form" method="post" action="" role="form" th:action="@{/reset-password}"  th:object="${resetMember}">
                                <div class="messages"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_password">Password *</label>
                                            <input type="password" id="form_password" name="password" class="form-control" placeholder="enter a new password" required="required" data-error="password is required."/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="confirmation">Please confirm your new password *</label>
                                                <input type="password" id="confirmation" name="confirmation" class="form-control" placeholder="reenter the new password" required="required" data-error="password is required."/>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="col-md-6">
                                        <div class="form-group">
                                            <div id="password-strength-container">
                                                <div id="password-strength-bar"></div>
                                            </div>
                                            <div id="password-strength-labels"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" th:field="*{username}" th:value="${resetMember.username}" />
                                        <input type="submit" class="btn btn-info btn-send" value="Submit">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid lastname</div>
                                        <div th:if="${#fields.hasErrors('confirmation')}" th:errors="*{confirmation}">Passwords do not match</div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div style="height: 200px"></div>
            </div>
        </div>
    </div>
</section>

<div id="includedFooter" class="fixed-bottom"></div>
</body>

</html>
